kivy==2.2.*
kivymd==1.1.*
torch==2.1.*
numpy==1.26.*
gymnasium[atari]==0.29.*
gymnasium[accept-rom-license]==0.29.*
opencv-python==4.8.1.*
imageio[ffmpeg]==2.31.*
matplotlib== 3.8.*
nptyping==2.5.*
humanize==4.8.*
kivy-garden.graph==0.4.0
notebook==7.0.6
shortuuid==1.0.11
seaborn==0.13.0
